@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap");

:root {
    --primary-color: #14130e;
    --secondary-color: #1c3fa8;
    --dark-color: #333;
    --light-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(images/bg-header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    color: #fff;
    height: 140px;
    padding-top: 15px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */

.logo {
    width: 150px;
}

.showcase {
    height: 400px;
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
    margin-left: 5px;
}

.showcase p {
    margin: 20px 0;
    margin-left: 5px;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 425px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"],
.showcase-form input[type="phone"] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

.submit-message { 
    display: none;
    padding-left: 15px;
    margin: 0;
    font-weight: bold;
    color: #4CAF50;
}

/* Transitions */
.logo,
.showcase-text {
    animation: fadeInHeader ease 1.5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInHeader { 
    0% { 
        opacity: 0;
    } 
    100% { 
        opacity: 1;
    } 
} 

/* About */
.about {
    padding-top: 100px;
}

.about-heading {
    max-width: 500px;
    margin: auto;
}

.about .grid {
    gap: 40px;
}

.about i {
    margin-bottom: 15px;
}

.about .grid h3 {
    font-size: 25px;
    line-height: 1.2;
}

.about .grid p {
    font-size: 15px;
    font-weight: bold;
}

/* Map */
#map {
    height: 250px;
}

/* Footer */

.footer .flex {
    justify-content: space-between;
}

.footer h1 {
    font-size: 20px;
    margin-bottom: -10px;
}

.footer .contact i {
    margin: 0 10px;
}

.footer .contact-item {
    display: flex;
    align-items: center;
}

.footer .contact p {
    display: inline-block;
}

@media (max-width: 1038px) {
    .line-break {
        display: block;
    }
}

@media (max-width: 950px) {
    .grid,
    .showcase .grid,
    .stats .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
    }
    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .line-break {
        display: inline;
    }

    .logo {
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
    .showcase-form {
        width: 320px;
    }

    .footer .social a {
        margin: 0 3px;
    }

    .showcase .grid {
        gap: 0px;
    }

    .footer h1 {
        font-size: 17px;
    }
}
